<section class="min-h-screen flex flex-col justify-between items-center text-cyan-400 dark:text-cyan-400 p-3"
    id="<%= data.projects.id %>">
    <div class="flex flex-col justify-between items-center grow">
        <h1 class="flex justify-center font-extrabold text-center text-3xl lg:text-6xl">
            <%= data.projects.title %>
        </h1>
        <div class="flex flex-col justify-around grow">
            <% data.projects.projects.forEach(project=> { %>
                <div class="border border-white rounded-md p-2 m-1">
                    <div class="m-4">
                        <p class="text-2xl font-bold"><%- project.title %></p>
                        <p class="text-white text-lg pb-2 font-bold">
                            <%- project.description %>
                        </p>
                        <p class="text-white pb-2"><%- project.details %></p>
                    </div>
                    <div class="flex justify-around flex-wrap">
                        <div class="flex">
                            <% project.technologies.frontend.forEach(technology=> { %>
                                <img class="w-10 h-10 m-2 bg-white rounded-md p-1" src="<%- technology.src %>"
                                    alt="<%- technology.alt %>" />
                                <% }) %>
                        </div>
                        <div class="flex">
                            <% project.technologies.backend.forEach(technology=> { %>
                                <img class="w-10 h-10 m-2 bg-white rounded-md p-1" src="<%- technology.src %>"
                                    alt="<%- technology.alt %>" />
                                <% }) %>
                        </div>
                    </div>

                    <div class="flex justify-around m-4">
                        <% project.links.forEach(link=> { %>
                            <a class="rounded-md p-1 bg-cyan-400 text-black hover:bg-cyan-600 focus:bg-cyan-600 focus:outline-none focus:ring-2 focus:ring-cyan-400 no-underline"
                                href="<%- link.href %>"><%- link.text %></a>
                            <% }) %>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <div class="rotate-180">
        <%- include('arrow', { id: 'arrow_button_4' }) %>
    </div>
</section>